@font-face {
    font-family: "American Typewriter Regular";
    src:
    url("fonts/AmeriTypeReg.ttf");
}


body {
    background-color: white;
    font-family: "American Typewriter Regular", sans-serif;
}

#container1 {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
}

#line { 
    text-shadow: black 2px 2px 2px;
    font-size: 5vh; 
    color: #C8894F;
}

#scott {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}